[submodule "Cyber-Offence-and-Defence"]
	path = Cyber-Offence-and-Defence
	url = https://github.com/Rhaegal222/Cyber-Offence-and-Defence
[submodule "Fondamenti-di-reti"]
	path = Fondamenti-di-reti
	url = https://github.com/Rhaegal222/Fondamenti-di-reti
[submodule "Ingegneria-del-Software"]
	path = Ingegneria-del-Software
	url = https://github.com/Rhaegal222/Ingegneria-del-Software
[submodule "Web-Applications"]
	path = Web-Applications
	url = https://github.com/Rhaegal222/Web-Applications.git
